.n-pu-grid {
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-gap:.5rem;
}
.n-pu-grid div {
	padding:40px 15px 15px;text-align:center;background-color:#fff;
	box-shadow:rgba(0, 0, 0, 0.05) 0px 10px 20px, rgba(0, 0, 0, 0.2) 0px 0px 1px;
}
.n-pu-grid div p:nth-of-type(1) {
	font-size:20px;opacity:.25;
}
.n-pu-grid div p:nth-of-type(2) {
	font-size:12px;
}
.n-pu-grid div p:nth-of-type(3) {
	font-size:12px;font-weight:300;line-height:1.25rem;
}
.n-pu-grid div p:nth-of-type(4) {
	font-size:12px;font-weight:300;margin-bottom:7px;
}
.n-pu-grid div p:nth-of-type(5) {
	font-size:12px;font-weight:300;margin-bottom:0;
}
.n-pu-grid div:nth-of-type(2), .n-pu-grid div:nth-of-type(5) {
	position:relative;
	top:0;
}
.review-container {
    margin-top:100px;
}
.n-container-mw {
	max-width:1920px;margin:0 auto;left:0;right:0;
}
.n-product-spacer {
	padding-top:45px;padding-bottom:45px;
}
@media (min-width: 992px) {
    .n-pu-grid {
		display:grid;
		grid-template-columns:repeat(3, 1fr);
		grid-gap:3rem;
	}
	.n-pu-grid div {
		padding:70px 40px 40px;text-align:center;background-color:#fff;
		box-shadow:rgba(0, 0, 0, 0.05) 0px 10px 20px, rgba(0, 0, 0, 0.2) 0px 0px 1px;
	}
	.n-pu-grid div p:nth-of-type(1) {
		font-size:26px;opacity:.25;
	}
	.n-pu-grid div p:nth-of-type(2) {
		font-size:18px;
	}
	.n-pu-grid div p:nth-of-type(3) {
		font-size:18px;font-weight:300;line-height:1.5rem;
	}
	.n-pu-grid div p:nth-of-type(4) {
		font-size:16px;font-weight:300;margin-bottom:7px;
	}
	.n-pu-grid div p:nth-of-type(5) {
		font-size:14px;font-weight:300;margin-bottom:0;
	}
	.n-pu-grid div:nth-of-type(2), .n-pu-grid div:nth-of-type(5), .n-pu-grid div:nth-of-type(8), .n-pu-grid div:nth-of-type(11), .n-pu-grid div:nth-of-type(14), .n-pu-grid div:nth-of-type(17) {
		position:relative;
		top:35px;
	}
	.n-container-mw {
		max-width:1100px;margin:0 auto;left:0;right:0;
	}
	.n-product-spacer {
		padding-top:80px;padding-bottom:80px;
	}
}
@media (min-width: 1300px) {
	.n-container-mw {
		max-width:1920px;margin:0 auto;left:0;right:0;
	}
}